.App {
  max-width: 69.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 3.8rem 8rem 8.6rem 7.6rem;
  background-color: #fff;
}

.align-right {
  margin-left: auto;
}

.container {
  display: flex;
  gap: 5.6rem;
  margin-top: 3rem;
}

.bar {
  width: 24rem;
}
